<form>
  <mat-form-field appearance="fill">
    <mat-label>Firstname</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Middlename</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Lastname</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Province Name</mat-label>
    <mat-select>
      <mat-option value="one">Cheraplayy</mat-option>
      <mat-option value="two">Karim Nagar</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Issue Description</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Optional Images</mat-label>
    <input matInput />
  </mat-form-field>
  <button mat-button>Submit Issue</button>
</form>
